21:20 2016-06-01ul li{
	float: left;
	width: 300px;
	display: inline;
	margin-right: 100px;
}
footer{
	float: left;
	display: inline;
	margin-right: 75px;
	background-color: below;
	}
:link:hover{
	background: green;
}
aside{
	float: left;
	width: 300px;
	height: 850px;
	margin-left: 1050px;
	margin-top: -550px;
}